/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body, .nav-elements, .header-division, .section-division, .middle-img, .services-desc, 
.services-facts, .services-header-image, .nav-elements a 
{ width: 400px; }

/*body, nav .header-division, .section-division, .middle-img, .services-header-image
{
	width: 876px; /* this is the width of the full middle image */
/*}*/



nav, header, footer, .header-text, .main-content, .secondary-content, .nav-elements
{
	display: flex;
}

.main-content, .secondary-content, .services-section, .services-facts, .nav-elements { flex-direction: column; }

.nav-image, .header-image, .middle-image, .services-header-image, .services-info-img
{
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: contain;
}

body
{
	margin: 0px 50px 0px 50px; 
	height: auto;
	margin: 0 auto;
}

	.nav-elements a 
	{ 
		border-top: 1px solid black; 
		text-align: center; 
		padding: 10px 0px 10px 0px; 
	}

nav
{
	margin-top: 20px;
	/*justify-content: space-around;*/
	flex-direction: column-reverse;
	align-items: center;
}

.nav-elements
{
	/*width: 876px;*/
	margin-top: 25px;
	justify-content: space-around;
}

.nav-elements:first-child { border-bottom: 1px solid black; }

nav a
{
	text-decoration: none;
	color: #A7A7A7;
}

.nav-elements a
{
	border-top: 1px solid black; 
	text-align: center; 
	padding: 10px 0px 10px 0px; 
}

/* Stretch Goal #4, setting all images as background images in CSS */
.nav-image 
{ 
	/* Must set a width/height or the div will be 0px and won't show up. */
	width: 183px;
	height: 36px;	
	background-image: url("../img/logo.png");
	margin-left: 10px;
	vertical-align: middle;
}

header
{
	justify-content: flex-end;
	/*margin-top: 50px;*/
	/*margin-bottom: 75px;*/
}

.header-text
{
	flex-direction: column;
	align-items: center;
	margin: 50px 50px 75px 0px;
}

.services-header
{
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 35px;
}

header h1 
{ 
	font-size: 72px; 
	text-align: center; 
}

.services-header h1
{
	text-align: left;
	font-size: 36px;
}

.services-header-image
{
	width: 876px;
	height: 200px;
	background-image: url("../img/services-header.jpg");
	margin-top: 25px;
	margin-bottom: 25px;
	display: none;
}

.get-started
{
	border: 2px solid black;
	padding: 10px 40px 10px 40px;
}

.header-image 
{ 
	/* Must set a width/height or the div will be 0px and won't show up. */
	width: 379px;
	height: 379px;	
	background-image: url("../img/header-img.png");
	margin-right: 10px;
	display: none;
}

.header-division, .section-division
{
	height: 1px;
	background-color: #000000;
	border: 0 none;
}

.main-content, .secondary-content { margin: 35px 0px 35px 0px; }

.services-section
{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	margin: 10px 0px 35px 0px;
}

.services-desc
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #F4F4F4;
	width: 48%;
	margin-top: 35px;
	padding: 20px 20px 20px 20px;
	border: 2px solid black;
}

.learn-more
{
	border: 1px solid black;
	border-radius: 5px;
	background-color: #FEFEFE;
	padding: 10px 25px 10px 25px;
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
}

.middle-img
{
	/* Must set a width/height or the div will be 0px and won't show up. */
	width: 876px;
	height: 183px;
	background-image: url("../img/mid-page-accent.jpg");
}

/*.services { padding-right: 20px; }
.vision { padding-left: 20px; }*/

.about, .product, .vision { margin-top: 30px; }
.vision { padding-left: 0px; }

.services-facts
{
	display: flex;
	margin-top: 35px;
}

.r-column
{
	padding: 20px 45px 20px 0px;
}

.r-column ul
{
	margin-top: 20px;
	list-style-position: inside;
	list-style-type: square;
	line-height: 2;
}

/*Creates a double-spaced line on lines 3 and 4 */
address p:nth-child(3), address p:nth-child(4) { line-height: 2; }

.address { margin-top: 25px; }

footer
{
	justify-content: center;
	margin: 25px 0px 25px 0px;
}

.services-footer
{
	margin-top: 50px;
}

.middle-img, .services-header-image, .services-info-img { background-size: contain; width: 400px; }

@media (min-width: 500px)
{
	body, .nav-elements, .middle-img, .services-facts, .services-header-image { width: 700px; }
	body { margin: 0px 50px 0px 50px; }	
	nav { flex-direction: column-reverse; }	
	.nav-elements { margin-top: 25px; }
	/*.header-image { display: none; }*/
	
	.header-text 
	{ 
		width: 100%; 
		margin: 0px;
	}
	
	/*.middle-img, .services-header-image, .services-info-img { background-size: contain; }
	body, .nav-elements, .middle-img, .services-desc, .services-facts, .services-header-image, .nav-elements a { width: 400px; }
	.nav-elements { flex-direction: column; }
	.nav-elements:first-child { border-bottom: 1px solid black; }
	
	/*.middle-img, .services-header-image, .services-info-img { background-size: contain; }
	body, .nav-elements, .middle-img, .services-desc, .services-facts, .services-header-image, .nav-elements a { width: 400px; }
	.nav-elements { flex-direction: column; }
	.nav-elements:first-child { border-bottom: 1px solid black; }
	
	.nav-elements a 
	{ 
		border-top: 1px solid black; 
		text-align: center; 
		padding: 10px 0px 10px 0px; 
	}
	
	.main-content, .secondary-content, .services-section, .services-facts { flex-direction: column; }
	.about, .product, .vision { margin-top: 30px; }
	.vision { padding-left: 0px; }*/
}

/*@media (max-width: 800px)
{
	body, .nav-elements, .middle-img, .services-facts, .services-header-image { width: 700px; }
	body { margin: 0px 50px 0px 50px; }	
	nav { flex-direction: column-reverse; }	
	.nav-elements { margin-top: 25px; }
	.header-image { display: none; }
	
	.header-text 
	{ 
		width: 100%; 
		margin: 0px;
	}	
	
	.middle-img, .services-header-image, .services-info-img { background-size: contain; }
}


